
@{
    ViewBag.Title = "Welcome to fiO";
}
<link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">

<div class="container-fluid home">
    <div class="row">
        <h1 class="welcome-header">Welcome to fiO</h1>
    </div>

    <div class="row">
        <h2 class="subheader">An all-in-one tool for managing your residence.</h2>
    </div>

    <div class="row">
        @Html.ActionLink("Get Started", "Register", "Setup", new { area = "" }, new { @class = "single-button center-block" })
    </div>
</div>