
@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-md-6 col-md-push-3">
        <h2 class="welcome-header">Login</h2>
        <form action="/Setup/Login" method="POST">
            <input class="setup-input" type="text" placeholder="Username/ Email" name="username"/>
            <input id="password" class="setup-input" type="password" placeholder="Password" name="password"/>
            <button class="single-button center-block" type="submit">Log In</button>
        </form>
    </div>
</div>

<script>
    function passwordConf() {
        var password = document.getElementById(password);
        
    }
</script>

