/* General Style */

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white;
}

footer {
    padding-top: 30vw;
}

.container-fluid {
    padding-top: 3vw;
}

.row > a:hover, a:focus {
    text-decoration: none;
    cursor: pointer;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    color: #286521;
}

input[type=range]:focus{
    outline:none;
}

.navbar {
    background-color: white;
    opacity: .5;
}

.navbar-header > .navbar-brand {
    color: #286521;
    font-size: 30px;
    font-weight: bold;
}

.navbar a {
    color: #286521;
    font-size: 16px;
}

    .navbar a:hover {
        color: #286521;
        text-decoration: none;
    }


/* Welcome */

.home {
    padding-top: 20%;
}

.welcome-header {
    font-size: 80px;
    text-align: center;
}

.subheader {
    text-align: center;
}

.single-button {
    margin-top: 3vw;
    margin-bottom: 3vw;
    background-color: #4bc13e;
    color: white;
    width: 200px;
    padding: 30px;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    border: none
}

.single-button:hover {
    cursor: pointer;
}

/* Setup */
.header-highlight {
    background-color: #286521;
    color: white;
    text-align: center;
    width: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 25px;
}

.header-highlight-accent {
    background-color: #4bc13e;
    color: white;
    text-align: center;
    width: auto;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    font-size: 25px;
}

.setup-input {
    width: 100%;
    height: 5vw;
    font-size: 3vw;
    color: #286521;
    text-align: center;
    display: inline-block;
    margin-top: 15px;
}

.button-row {
    display: inline;
}

.setup-tooltip {
    text-align: center;
    color: green;
    font-size: 23px;
}

.form-container {
    height: auto;
    width: 100%;
    animation: expand;
    animation-duration: 1s;
    width: 80%;
    display: inline-block;
    overflow: auto;
}

.form-container-expanded {
    height: auto;
    overflow: auto;
}


@keyframes expand {
    from {
        height: 0px;
    }
    to {
        height: auto;
        /*max-height: 60vh;*/
    }
}


.form-container::after{
    height: auto;
    /*max-height: 60vh;*/
}

.user-card {
    height: 200px;
    color: #286521;
    padding-top: 15px;
}

.card-header {
    background-color: #286521;
    height: 50px;
    color: white;
    font-size: 30px;
    padding-left:10px;
    padding-top: 5px;
}

.card-header > input {
    color: black;
}

.card-content {
    color: #286521;
    font-size: 25px;
}

.card-header-input {
    height: 90%;
    width: 50%;
}

.sliderval {
    text-align: center;
}

input[type=range] {
    padding-top: 15px;
}

/* Dashboard */

.tile {
    padding-top: 15px;
    padding-left: 0px;
}

.dashboard-list {
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}

.portfolio-item {
    height: 50px;
}

.summary-content {
    padding-bottom: 100px;
}