
@{
    ViewBag.Title = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="welcome-header">Summary of [PORTFOLIO]</div>
    <div class="row">
        
    </div>
    <div class="row">
        @* for each person involved in portfolio... *@
        <div class="col-md-4">
            <div class="header-highlight">[NAME]</div>
            <div class="summary-content">
                <div class="header-highlight-accent">Cut of Total Rent</div>
                <h2 class="text-center">[VALUE]</h2>
                <div class="header-highlight-accent">One-Time Expenses</div>
                <h2 class="text-center">[VALUE]</h2>
                <div class="header-highlight-accent">Recurring Expenses</div>
                <h2 class="text-center">[VALUE]</h2>
                <div class="header-highlight">Total Due:</div>
                <h2 class="text-center">[VALUE]</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="header-highlight">[NAME]</div>
            <div class="summary-content">
                <div class="header-highlight-accent">Cut of Total Rent</div>
                <h2 class="text-center">[VALUE]</h2>
                <div class="header-highlight-accent">One-Time Expenses</div>
                <h2 class="text-center">[VALUE]</h2>
                <div class="header-highlight-accent">Recurring Expenses</div>
                <h2 class="text-center">[VALUE]</h2>
                <div class="header-highlight">Total Due:</div>
                <h2 class="text-center">[VALUE]</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="header-highlight">[NAME]</div>
            <div class="summary-content">
                <div class="header-highlight-accent">Cut of Total Rent</div>
                <h2 class="text-center">[VALUE]</h2>
                <div class="header-highlight-accent">One-Time Expenses</div>
                <h2 class="text-center">[VALUE]</h2>
                <div class="header-highlight-accent">Recurring Expenses</div>
                <h2 class="text-center">[VALUE]</h2>
                <div class="header-highlight">Total Due:</div>
                <h2 class="text-center">[VALUE]</h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="header-highlight">[NAME]</div>
            <div class="summary-content">
                <div class="header-highlight-accent">Cut of Total Rent</div>
                <h2 class="text-center">[VALUE]</h2>
                <div class="header-highlight-accent">One-Time Expenses</div>
                <h2 class="text-center">[VALUE]</h2>
                <div class="header-highlight-accent">Recurring Expenses</div>
                <h2 class="text-center">[VALUE]</h2>
                <div class="header-highlight">Total Due:</div>
                <h2 class="text-center">[VALUE]</h2>
            </div>
        </div>
    </div>
</div>
