
@{
    ViewBag.Title = "Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <h1 class="welcome-header">Let's get started.</h1>
    </div>

    @*<div class="row">
        <h2 class="subheader">An all-in-one tool for managing your residence.</h2>
    </div>*@

    <div class="row">
        <a href="/setup"><div class="single-button center-block">Continue</div></a>
    </div>
</div>
