@model fio.Models.AuthModel
@{
    ViewBag.Title = "Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body onload="openNext()">
    <div class="container-fluid" id="container">
        <div class="row" id="start">
            <h1 class="welcome-header">Let's get started.</h1>
        </div>

        @*<div class="row">
                <h2 class="subheader">An all-in-one tool for managing your residence.</h2>
            </div>*@

        <div id="portfolio" class="row hidden">
            <div class="header-highlight">
                <h1>What do you want to call this portfolio?</h1>
            </div>
            <input type="text" class="setup-input center-block" id="portfolio-name" onkeypress="checkForEnter(event)"/>
            <a onclick="nextSlide();"><div class="single-button text-uppercase center-block" type="button" >Next</div></a>
        </div>

        <div id="roommates" class="row hidden">
            <div class="header-highlight">
                <h1>How many other people are living with you?</h1>
            </div>
            <input type="number" class="setup-input center-block" id="occupants" />
            <div class="collapse form-container" id="form-container"></div>
            <div class="col-md-6"><a onclick="prevSlide()"><div class="single-button text-uppercase pull-right" type="button">Back</div></a></div>
            <div class="col-md-6"><a onclick="generateOccupantForm()" data-toggle="collapse" aria-expanded="false" id="collapse-button"><div class="single-button text-uppercase pull-left" type="button" onkeypress="checkForEnter(event)">Next</div></a></div>
        </div>
        <div id="recurring" class="row hidden">
            <div class="header-highlight">
                <h1>What is the total amount paid monthly?</h1>
            </div>
            <input id='total' type="number" class="setup-input center-block" onkeypress="checkForEnter(event)"/>
            <div class="collapse form-container" id="form-container"></div>
            @*<div class="col-md-6"><a onclick="prevSlide()"><div class="single-button text-uppercase pull-right" type="button">Back</div></a></div>*@
            <a onclick="nextSlide();"><div class="single-button text-uppercase center-block" type="button">None</div></a>
        </div>
        <div id="split" class="row hidden">
            <div class="header-highlight">
                <h1>How much does each roommate have to pay for rent?</h1>
            </div>
            <a onclick="evenSplit()"><div class="single-button text-uppercase center-block" type="button">Even split</div></a>
            <div class="collapse form-container-expanded" id="splitList"></div>
            <div class="col-md-6"><a onclick="prevSlide()"><div class="single-button text-uppercase pull-right" type="button">Back</div></a></div>
            <div class="col-md-6"><a onclick="nextSlide(); oneTime();"><div class="single-button text-uppercase pull-left" type="button">Next</div></a></div>
        </div>
        <div id="one-time" class="row hidden">
            <div class="header-highlight">
                <h1>How much has each roommate paid in one-time payments this cycle?</h1>
            </div>
            <a onclick="nextSlide();"><div class="single-button text-uppercase center-block" type="button">None</div></a>
            <div class="collapse form-container" id="one-time-list"></div>
            <div class="col-md-6"><a onclick="prevSlide()"><div class="single-button text-uppercase pull-right" type="button">Back</div></a></div>
            <div class="col-md-6"><a onclick="nextSlide(); utilities()"><div class="single-button text-uppercase pull-left" type="button">Next</div></a></div>
        </div>
        <div id="utilities" class="row hidden">
            <div class="header-highlight">
                <h1>How much has each roommate paid for a recurring shared utility?</h1>
            </div>
            <a onclick="nextSlide();"><div class="single-button text-uppercase center-block" type="button">None</div></a>
            <div class="collapse form-container" id="utilities-list"></div>
            <div class="col-md-6"><a onclick="prevSlide()"><div class="single-button text-uppercase pull-right" type="button">Back</div></a></div>
            <div class="col-md-6"><a onclick="nextSlide()"><div class="single-button text-uppercase pull-left" type="button">Next</div></a></div>
        </div>
        <div id="continue" class="row hidden">
            <h1 class="welcome-header">Great. We've compiled your split.</h1>
            @Html.ActionLink("Continue", "Index", "Dashboard", new { area = "" }, new { @class = "single-button center-block" })
        </div>

        @*<div class="col-md-6"><a onclick="prevSlide()"><div class="single-button text-uppercase pull-right" type="button">Back</div></a></div>
            <div class="col-md-6"><a onclick="nextSlide()"><div class="single-button text-uppercase pull-left" type="button">Next</div></a></div>*@
    </div>
    <script>
        var slides = ["start", "portfolio", "roommates", "recurring", "split", "one-time", "utilities", "continue"];
        var i = 0;
        var generated = false;
        var people = 0;
        var totalCost;
        var names;

        function nextSlide() {
            //alert(slides[i] + "----->" + slides[i + 1]);
            i++;
            openNext();
        }

        function prevSlide() {
            //alert(slides[i + 1] + "----->" + slides[i]);
            alert("prev");
            i--;
            openPrev();
        }

        function openNext() {
            if (i != 0) {
                document.getElementById(slides[i - 1]).classList.add('hidden');
                document.getElementById(slides[i]).classList.remove('hidden');
            } else {
                setTimeout(function () {
                    nextSlide();
                }, 2000);
            }

            if (slides[i] == "recurring") {
                var rmates = new Array();
                rmates.push(new roommate('@Model.Name', ''));
                people = document.getElementById('occupants').value;
                var qq = 0;
                for (qq = people; qq > 0; qq--) {
                    var name = document.getElementById('rname' + qq).value;
                    var venmo = document.getElementById('venmo' + qq).value;
                    rmates.push(new roommate(name, venmo));
                }
                var portfolioName = document.getElementById('portfolio-name').value;
                //var portfolioName = "FIX ME :(";
                alert("Wait for OK");
                var json = JSON.stringify({ Name: portfolioName, Roommates: rmates });
                $.ajax({
                    url: '/Setup/CreatePortfolio?json=' + json,
                    contentType: 'application/html; charset=utf-8',
                    type: 'POST',
                    dataType: 'html',
                    success: function (result) {
                        names = JSON.parse(result);
                        for (var n in names) {
                            var blah = names[n];
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('Couldn\'t create portfolio: ' + error);
                    }
                });
            }
        }

        function roommate(name, venmo) {
            this.Name = name;
            this.VenmoId = venmo;
        }

        function openPrev() {
            document.getElementById(slides[i + 1]).classList.add('hidden');
            document.getElementById(slides[i]).classList.remove('hidden');
        }

        function generateOccupantForm() {
            if (!generated) {
                people = document.getElementById('occupants').value;
                var container = document.getElementById('form-container');
                var content = document.createElement('div');
                var button = document.getElementById('collapse-button');
                content.innerHTML += '<div class="user-card row center-block"><div class="card-header">YOUR NAME</div><div class="card-content"><div class="col-xl-12">YOUR EMAIL</div><div class="col-xl-12">YOUR VENMO</div></div></div></div>';
                for (k = people; k > 0; k--) {
                    content.innerHTML += '<div class="user-card row center-block"><div class="card-header"><input type="text" placeholder="Roommate Name" class="card-header-input" id="rname' + k + '"/></div><div class="card-content"><div class="col-xl-12"><input type="text" placeholder="Email"/></div><div class="col-xl-12"><input type="text" placeholder="Venmo ID" id="venmo' + k + '"/></div></div></div></div>';
                }
                roommateList = content.innerHTML;
                container.appendChild(content);
                container.classList.add("center-block");
                generated = true;
            } else {
                nextSlide();
                split();
            }
        }

        function split() {
            var evenPercent = 100 / (parseInt(people) + 1);
            evenPercent = Math.round(evenPercent);
            var container = document.getElementById('splitList');
            var content = document.createElement('div');
            for (var n in names) {
                content.innerHTML += '<div class="user-card row center-block"><div class="card-header">'+names[n]+'</div><div class="card-content"><div class="col-xl-12"><input id="slider' + n + '" type="range" min="0" max="100" value="50" onchange="showValue(this.value, this.id)"/><input class="sliderval" type="number" min="0" max="100" id="slider' + n + 'val" value="' + evenPercent + '" onchange="writeValue(this.value, this.id)"/></div></div></div></div></div>';
            }

            //content.innerHTML += '<div class="user-card row center-block"><div class="card-header">YOUR NAME</div><div class="card-content"><div class="col-xl-12"><input id="slider0" type="range" min="0" max="100" value="50" onchange="showValue(this.value, this.id)"/><input type="number" min="0" max="100" class="sliderval" id="slider0val" value="'+ evenPercent +'" onchange="writeValue(this.value, this.id)" /></div></div></div></div></div>';
            //for (k = people; k > 0; k--) {
            //    content.innerHTML += '<div class="user-card row center-block"><div class="card-header">ROOMMATE NAME</div><div class="card-content"><div class="col-xl-12"><input id="slider' + k + '" type="range" min="0" max="100" value="50" onchange="showValue(this.value, this.id)"/><input class="sliderval" type="number" min="0" max="100" id="slider' + k + 'val" value="' + evenPercent + '" onchange="writeValue(this.value, this.id)"/></div></div></div></div></div>';
            //}
            container.appendChild(content);
            container.classList.add("center-block");
            evenSplit();
            generated = true;
        }

        function oneTime() {
            var container = document.getElementById('one-time-list');
            var content = document.createElement('div');

            for (var n in names) {
                content.innerHTML += '<div class="user-card row center-block"><div class="card-header">'+names[n]+'</div><div class="card-content"><div class="col-xl-12"><input type="number" placeholder="$ Amount" /></div></div></div></div>';
            }

            //content.innerHTML += '<div class="user-card row center-block"><div class="card-header">YOUR NAME</div><div class="card-content"><div class="col-xl-12"><input type="number" placeholder="$ Amount" /></div></div></div></div>';
            //for (k = people; k > 0; k--) {
            //    content.innerHTML += '<div class="user-card row center-block"><div class="card-header">ROOMMATE NAME</div><div class="card-content"><div class="col-xl-12"><input type="number" placeholder="$ Amount"/></div></div></div></div>';
            //}
            container.appendChild(content);
            container.classList.add("center-block");
            container.style.height = '70vh';
            generated = true;
        }

        function utilities() {
            var container = document.getElementById('utilities-list');
            var content = document.createElement('div');

            for (var n in names) {
                content.innerHTML += '<div class="user-card row center-block"><div class="card-header">'+names[n]+'</div><div class="card-content"><div class="col-xl-12"><input type="number" placeholder="$ Amount" /></div></div></div></div>';
            }

            //content.innerHTML += '<div class="user-card row center-block"><div class="card-header">YOUR NAME</div><div class="card-content"><div class="col-xl-12"><input type="number" placeholder="$ Amount" /></div></div></div></div>';
            //for (k = people; k > 0; k--) {
            //    content.innerHTML += '<div class="user-card row center-block"><div class="card-header">ROOMMATE NAME</div><div class="card-content"><div class="col-xl-12"><input type="number" placeholder="$ Amount"/></div></div></div></div>';
            //}
            container.appendChild(content);
            container.classList.add("center-block");
            container.style.height = '70vh';
            generated = true;
        }

        function evenSplit() {
            var evenPercent = 100 / (parseInt(people) + 1);
            evenPercent = Math.round(evenPercent);
            for (k = people; k >= 0; k--) {
                currentSlider = document.getElementById('slider' + k);
                $(currentSlider).value = evenPercent;
                showValue(evenPercent, currentSlider.id);
            }
        }

        function totalCost() {
            totalCost = document.getElementById('total');
        }

        function showValue(newValue, source) {
            var value = document.getElementById(source + 'val');
            $(value).arguments.value = newValue;
        }

        function writeValue(setValue, source) {
            alert("TEst");
            var target = document.getElementById(source.substring(0, source.length - 3));;
            $(target).value = setValue;
        }

    </script>
    <script>
        function checkForEnter(e) {
            if (e.charCode === 13) {
                nextSlide();
            }
        }
    </script>
</body>
