
@{
    ViewBag.Title = "Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body onload="openNext()">
    <div class="container-fluid" id="container">
        <div class="row" id="start">
            <h1 class="welcome-header">Let's get started.</h1>
        </div>

        @*<div class="row">
                <h2 class="subheader">An all-in-one tool for managing your residence.</h2>
            </div>*@

        <div id="roomates" class="row hidden">
            <div class="header-highlight">
                <h1>How many other people are living with you?</h1>
            </div>
            <input type="number" class="setup-input center-block" id="occupants" />
            <div class="collapse form-container" id="form-container"></div>
            <a onclick="generateOccupantForm()" data-toggle="collapse" aria-expanded="false" id="collapse-button"><div class="single-button text-uppercase center-block" type="button">Next</div></a>
        </div>
        <div id="recurring" class="row hidden">
            <div class="header-highlight">
                <h1>What is the total amount paid monthly?</h1>
            </div>
            <input type="number" class="setup-input center-block" />
            <div class="collapse form-container" id="form-container"></div>
            <div class="col-md-6"><a onclick="prevSlide()"><div class="single-button text-uppercase pull-right" type="button">Back</div></a></div>
            <div class="col-md-6"><a onclick="nextSlide()"><div class="single-button text-uppercase pull-left" type="button">Next</div></a></div>
        </div>
        <div id="split" class="row hidden">
            <div class="header-highlight">
                <h1>How much does each roommate have to pay for rent?</h1>
            </div>
            <a onclick="nextSlide()"><div class="single-button text-uppercase center-block" type="button">Even split</div></a>
            <div class="collapse form-container-expanded" id="form-container-expanded"></div>
            <div class="col-md-6"><a onclick="prevSlide()"><div class="single-button text-uppercase pull-right" type="button">Back</div></a></div>
            <div class="col-md-6"><a onclick="nextSlide()"><div class="single-button text-uppercase pull-left" type="button">Next</div></a></div>
        </div>
        <div id="one-time" class="row hidden">
            <div class="header-highlight">
                <h1>How much has each roommate paid in one-time payments this cycle?</h1>
            </div>
            <div class="col-md-6" style="display: inline-block; left: 12%;"><a onclick="nextSlide()"><div class="single-button text-uppercase pull-left center-block" type="button">None!</div></a></div>
            <div class="collapse form-container-expanded" id="form-container-expanded"></div>
            <div class="col-md-6"><a onclick="prevSlide()"><div class="single-button text-uppercase pull-right" type="button">Back</div></a></div>
            <div class="col-md-6"><a onclick="nextSlide()"><div class="single-button text-uppercase pull-left" type="button">Next</div></a></div>
        </div>

        @*<div class="col-md-6"><a onclick="prevSlide()"><div class="single-button text-uppercase pull-right" type="button">Back</div></a></div>
            <div class="col-md-6"><a onclick="nextSlide()"><div class="single-button text-uppercase pull-left" type="button">Next</div></a></div>*@
    </div>
    <script>
        var slides = ["start", "roomates", "recurring", "split", "one-time", "utilities"];
        var i = 0;
        var generated = false;
        var people = 0;

        function nextSlide() {
            //alert("next");
            i++;
            openNext();
        }

        function prevSlide() {
            //alert("prev");
            i--;
            openPrev();
        }

        function openNext() {
            if (i != 0) {
                document.getElementById(slides[i - 1]).classList.add('hidden');
                document.getElementById(slides[i]).classList.remove('hidden');
            } else {
                setTimeout(function () {
                    nextSlide();
                }, 500);
            }
        }

        function openPrev() {
            document.getElementById(slides[i + 1]).classList.add('hidden');
            document.getElementById(slides[i]).classList.remove('hidden');
        }

        function generateOccupantForm() {
            if (!generated) {
                people = document.getElementById('occupants').value;
                var container = document.getElementById('form-container');
                var content = document.createElement('div');
                var button = document.getElementById('collapse-button');
                content.innerHTML += '<div class="user-card row center-block"><div class="card-header">YOUR NAME</div><div class="card-content"><div class="col-xl-12">YOUR EMAIL</div><div class="col-xl-12">YOUR VENMO</div></div></div></div>';
                for (i = people; i > 0; i--) {
                    content.innerHTML += '<div class="user-card row center-block"><div class="card-header"><input type="text" placeholder="Roommate Name" class="card-header-input"/></div><div class="card-content"><div class="col-xl-12"><input type="text" placeholder="Email"/></div><div class="col-xl-12"><input type="text" placeholder="Venmo ID"/></div></div></div></div>';
                }

                container.appendChild(content);
                container.classList.add("center-block");
                container.style.height = '70vh';
                generated = true;
            } else {
                splitSlider();
                roommateOneTime();
                nextSlide();
                if (i == 1) {
                    nextSlide();
                }
            }
        }

        function roommateOneTime() {
            var container = document.getElementById('form-container-expanded');
            var content = document.createElement('div');
            var button = document.getElementById('collapse-button');
            content.innerHTML += '<div class="user-card row center-block"><div class="card-header">YOUR NAME</div><div class="card-content"><input type="number" placeholder="$ Amount" /></div></div></div>';
            for (i = people; i > 0; i--) {
                content.innerHTML += '<div class="user-card row center-block"><div class="card-header">ROOMMATE NAME</div><div class="card-content"><input type="number" placeholder="$ Amount" /></div></div></div>';
            }

            container.appendChild(content);
            container.classList.add("center-block");
            container.style.height = '70vh';
            generated = true;
        }

        function splitSlider() {
            var container = document.getElementById('form-container-expanded');
            var content = document.createElement('div');
            var button = document.getElementById('collapse-button');
            content.innerHTML += '<div class="user-card row center-block"><div class="card-header">YOUR NAME</div><div class="card-content"><input type="number" placeholder="$ Amount" id="value"/><input type="range" id="slider"/></div></div></div>';
            for (i = people; i > 0; i--) {
                content.innerHTML += '<div class="user-card row center-block"><div class="card-header">ROOMMATE NAME</div><div class="card-content"><input type="number" placeholder="$ Amount" id="value"/><input type="range" id="slider"/></div></div></div>';
            }

            var slider = document.getElementById('slider');
            var value = document.getElementById('value');

            $(value).value = $(slider).value;
            container.appendChild(content);
            container.classList.add("center-block");
            container.style.height = '70vh';
            roommateOneTime();
            generated = true;
        }
    </script>
</body>
