
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body onload="openNext()">
    <div class="container-fluid">
        <div class="row" id="start">
            <h1 class="welcome-header">Tell us about yourself.</h1>
        </div>
        <div class="row hidden" id="name">
            <div class="header-highlight center-block">
                <h1>What is your name?</h1>
            </div>
            <input class="setup-input" type="text" />
            @*<div class="col-md-6"><a onclick="prevSlide()"><div class="single-button pull-right" type="button">Back</div></a></div>*@
            <a onclick="nextSlide()"><div class="single-button center-block" type="button">Next</div></a>
        </div>
        <div class="row hidden" id="email">
            <div class="header-highlight center-block">
                <h1>What is your email?</h1>
            </div>
            <input class="setup-input" type="text" />
            <div class="col-md-6"><a onclick="prevSlide()"><div class="single-button pull-right" type="button">Back</div></a></div>
            <div class="col-md-6"><a onclick="nextSlide()"><div class="single-button pull-left" type="button">Next</div></a></div>
        </div>
        <div class="row hidden" id="password">
            <div class="header-highlight center-block">
                <h1>Please create a password.</h1>
            </div>
            <input class="setup-input" type="password" />
            <div class="col-md-6"><a onclick="prevSlide()"><div class="single-button pull-right" type="button">Back</div></a></div>
            <div class="col-md-6"><a onclick="nextSlide()"><div class="single-button pull-left" type="button">Next</div></a></div>
        </div>
        <div class="row hidden" id="passcon">
            <div class="header-highlight center-block">
                <h1>Please confirm your password.</h1>
            </div>
            <input class="setup-input" type="password" />
            <div class="col-md-6"><a onclick="prevSlide()"><div class="single-button pull-right" type="button">Back</div></a></div>
            <div class="col-md-6"><a onclick="nextSlide()"><div class="single-button pull-left" type="button">Next</div></a></div>
        </div>
        <div class="row hidden" id="venmo">
            <div class="header-highlight center-block">
                <h1>What is your Venmo ID?</h1>
            </div>
            <input class="setup-input" type="text" />
            <p class="setup-tooltip">This can be an email, username, or phone number.</p>
            <div class="col-md-6"><a onclick="prevSlide()"><div class="single-button pull-right" type="button">Back</div></a></div>
            <div class="col-md-6"><a href="/setup"><div class="single-button pull-left" type="button">Finish</div></a></div>
        </div>

    </div>
    <script>
        var slides = ["start", "name", "email", "password", "passcon", "venmo"];
        var i = 0;

        function nextSlide() {
            //alert("next");
            i++;
            openNext();
        }

        function prevSlide() {
            //alert("prev");
            i--;
            openPrev();
        }

        function openNext() {
            if (i != 0) {
                document.getElementById(slides[i - 1]).classList.add('hidden');
                document.getElementById(slides[i]).classList.remove('hidden');
            } else {
                setTimeout(function () {
                    nextSlide();
                }, 500);
            }
        }

        function openPrev() {
            document.getElementById(slides[i + 1]).classList.add('hidden');
            document.getElementById(slides[i]).classList.remove('hidden');
        }

    </script>
</body>