
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body onload="openNext()">
    <form id="RegisterForm" action="/Setup/CreateAccount" method="POST">
        <div class="container-fluid">
            <div class="row" id="start">
                <h1 class="welcome-header">Tell us about yourself.</h1>
            </div>
            <div class="row hidden" id="name">
                <div class="header-highlight center-block">
                    <h1>What is your name?</h1>
                </div>
                <input class="setup-input" type="text" name="name" onkeypress="checkForEnter(event)"/>
                @*<div class="col-md-6"><a onclick="prevSlide()"><div class="single-button pull-right" type="button">Back</div></a></div>*@
                <a onclick="nextSlide()"><div class="single-button center-block" type="button">Next</div></a>
            </div>
            <div class="row hidden" id="email">
                <div class="header-highlight center-block">
                    <h1>What is your email?</h1>
                </div>
                <input class="setup-input" type="text" name="username" onkeypress="checkForEnter(event)"/>
                <div class="col-md-6"><a onclick="prevSlide()"><div class="single-button pull-right" type="button">Back</div></a></div>
                <div class="col-md-6"><a onclick="nextSlide()"><div class="single-button pull-left" type="button">Next</div></a></div>
            </div>
            <div class="row hidden" id="password">
                <div class="header-highlight center-block">
                    <h1>Please create a password.</h1>
                </div>
                <input id="password" class="setup-input" type="password" name="password" onkeypress="checkForEnter(event)"/>
                <div class="col-md-6"><a onclick="prevSlide()"><div class="single-button pull-right" type="button">Back</div></a></div>
                <div class="col-md-6"><a onclick="nextSlide()"><div class="single-button pull-left" type="button">Next</div></a></div>
            </div>
            <div class="row hidden" id="passConf">
                <div class="header-highlight center-block">
                    <h1>Please confirm your password.</h1>
                </div>
                <input id="passConf" class="setup-input" type="password" onkeypress="checkForEnter(event)"/>
                <div class="col-md-6"><a onclick="prevSlide()"><div class="single-button pull-right" type="button">Back</div></a></div>
                <div class="col-md-6"><a onclick="passValidation()"><div class="single-button pull-left" type="button">Next</div></a></div>
            </div>
            <div class="row hidden" id="venmo">
                <div class="header-highlight center-block">
                    <h1>What is your Venmo ID?</h1>
                </div>
                <input class="setup-input" type="text" name="venmoId"/>
                <p class="setup-tooltip">This can be an email, username, or phone number.</p>
                <div class="col-md-6"><a onclick="prevSlide()"><div class="single-button pull-right" type="button">Back</div></a></div>
                <div class="col-md-6"><div class="single-button pull-left" type="button" onclick="$('#RegisterForm').submit(); ">Finish</div></div>
            </div>
        </div>
    </form>
    <script>
        var slides = ["start", "name", "email", "password", "passConf", "venmo"];
        var i = 0;

        function nextSlide() {
            //alert("next");
            i++;
            openNext();
        }

        function prevSlide() {
            //alert("prev");
            i--;
            openPrev();
        }

        function openNext() {
            if (i != 0) {
                document.getElementById(slides[i - 1]).classList.add('hidden');
                document.getElementById(slides[i]).classList.remove('hidden');
            } else {
                setTimeout(function () {
                    nextSlide();
                }, 2000);
            }
        }

        function openPrev() {
            document.getElementById(slides[i + 1]).classList.add('hidden');
            document.getElementById(slides[i]).classList.remove('hidden');
        }

        function passValidation() {
            var password = document.getElementById('password');
            var passConf = document.getElementById('passConf');
            if (password == passConf) {
                alert(password + "   " + passConf);
                nextSlide();
            } else {
                alert("Passwords do not match.");
            }
        }

    </script>
    <script>
        function checkForEnter(e) {
            if (e.charCode === 13) {
                nextSlide();
            }
        }
    </script>
</body>